**In this .py file we will be cleaning any junks that are present in the data before we go for the descriptive analysis of the data and answer the provided questions related to it.**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**First we are importing the neccessary datasets.**

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/NeoStats_Keerthana/Banking Case - Data.xlsx'

df_trans = pd.read_excel(file_path, sheet_name='Transaction Data')
df_cust = pd.read_excel(file_path, sheet_name='Customer Demographics')

In [ ]:
df_trans.head()

,Sno,Customer_number,Insurance,balance,housing,loan,contact,duration,campaign,last_contact_day,previous,poutcome,Term Deposit,Count_Txn
0,0,1001,no,2143,yes,no,NaN,261.0,1,2,0,unknown,no,351.0
1,1,1002,no,29,yes,no,unknown,151.0,1,2,0,unknown,no,326.0
2,2,1003,no,2,yes,yes,unknown,76.0,1,2,0,NaN,no,422.0
3,3,1004,no,1506,yes,no,unknown,92.0,1,2,0,unknown,no,113.0
4,4,1005,no,1,no,no,unknown,198.0,1,2,0,unknown,no,342.0

In [ ]:
df_cust.head()

   Customer_number  age           job  marital  education Annual Income Gender
0             1001   58    management  married   tertiary        839368      M
1             1002   44    technician   single  secondary       1452858      M
2             1003   33  entrepreneur  married        NaN       4851383      F
3             1004   47   blue collar  married    unknown       3207754      F
4             1005   33       unknown   single    unknown       2562322      M

**Now we are analyzing if there are any junk values in the datasets, if so, we will be treating them as NaN values.**

First for the categorical columns we are getting the unique values to see if junk are present or not.

In [ ]:
#For Table Transactions
categorical_cols = ['Insurance', 'housing', 'loan', 'contact','previous','poutcome', 'Term Deposit']
for col in categorical_cols:
    unique_values = df_trans[col].unique()
    print(f"Unique values in column '{col}' for Table Transactions: {unique_values}")

#For table Customers
categorical_cols = ['job','marital','education','Gender']
for col in categorical_cols:
    unique_values = df_cust[col].unique()
    print(f"Unique values in column '{col}' for Table Customers: {unique_values}")

Unique values in column 'Insurance' for Table Transactions: ['no' 'yes']
Unique values in column 'housing' for Table Transactions: ['yes' 'no']
Unique values in column 'loan' for Table Transactions: ['no' 'yes' nan]
Unique values in column 'contact' for Table Transactions: [nan 'unknown' '?' 'cellular' 'telephone' 'Mobile' 'Tel']
Unique values in column 'previous' for Table Transactions: [  0   3   1   4   2  11  16   6   5  10  12   7  18   9  21   8  14  15
  26  37  13  25  20  27  17  23  38  29  24  51 275  22  19  30  58  28
  32  40  55  35  41]
Unique values in column 'poutcome' for Table Transactions: ['unknown' nan 'pending' '????' '?' 'failure' 'other' 'success']
Unique values in column 'Term Deposit' for Table Transactions: ['no' 'yes' nan]
Unique values in column 'job' for Table Customers: ['management' 'technician' 'entrepreneur' 'blue collar' 'unknown'
 'retired' 'admin.' 'services' 'blue-collar' 'self-employed' 'unemployed'
 'housemaid' 'student' nan]
Unique values in column 'marital' for Table Customers: ['married' 'single' 'divorced' nan]
Unique values in column 'education' for Table Customers: ['tertiary' 'secondary' nan 'unknown' 'ter tiary' 'primary' 'Primary']
Unique values in column 'Gender' for Table Customers: ['M' 'F']

**Now for all the irrelevant data entry we are converting them into nan values**

In [ ]:
import numpy as np
# Handling categorical columns in df_trans

df_trans['contact'].replace(['unknown', '?'], np.nan, inplace=True)
df_trans['contact'].replace('Tel', 'telephone', inplace=True)
df_trans['contact'].replace('Mobile', 'cellular', inplace=True)
df_trans['poutcome'].replace(['unknown', '????', '?'], np.nan, inplace=True)

# Displaying unique values after cleaning for df_trans
print("Unique values after cleaning for df_trans:")
for col in ['Insurance',
'housing', 'loan', 'contact', 'previous','poutcome', 'Term Deposit']:
    unique_values = df_trans[col].unique()
    print(f"Unique values in column '{col}' for df_trans: {unique_values}")

Unique values after cleaning for df_trans:
Unique values in column 'Insurance' for df_trans: ['no' 'yes']
Unique values in column 'housing' for df_trans: ['yes' 'no']
Unique values in column 'loan' for df_trans: ['no' 'yes' nan]
Unique values in column 'contact' for df_trans: [nan 'cellular' 'telephone']
Unique values in column 'previous' for df_trans: [  0   3   1   4   2  11  16   6   5  10  12   7  18   9  21   8  14  15
  26  37  13  25  20  27  17  23  38  29  24  51 275  22  19  30  58  28
  32  40  55  35  41]
Unique values in column 'poutcome' for df_trans: [nan 'pending' 'failure' 'other' 'success']
Unique values in column 'Term Deposit' for df_trans: ['no' 'yes' nan]

In [ ]:
# Handling categorical columns in df_cust

df_cust['job'].replace('unknown', np.nan, inplace=True)
df_cust['job'].replace('blue collar','blue-collar', inplace=True)
df_cust['education'].replace('unknown', np.nan, inplace=True)
df_cust['education'].replace('ter tiary', 'tertiary', inplace=True)
df_cust['education'].replace('Primary', 'primary', inplace=True)

# Displaying unique values after cleaning for df_cust
print("\nUnique values after cleaning for df_cust:")
for col in ['job', 'marital', 'education', 'Gender']:
    unique_values = df_cust[col].unique()
    print(f"Unique values in column '{col}' for df_cust: {unique_values}")

Unique values after cleaning for df_cust:
Unique values in column 'job' for df_cust: ['management' 'technician' 'entrepreneur' 'blue-collar' nan 'retired'
 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid' 'student']
Unique values in column 'marital' for df_cust: ['married' 'single' 'divorced' nan]
Unique values in column 'education' for df_cust: ['tertiary' 'secondary' nan 'primary']
Unique values in column 'Gender' for df_cust: ['M' 'F']

**For the Numeric Columns we will be checking for irrelevant negative numbers or zero values. If required we will convert it into positive. As for the rest of the non-numeric values we will be treating them as nan.**

In [ ]:
## Numerical Columns of df_trans

# Converting 'duration', 'campaign', 'last_contact_day', 'Count_Txn' columns to numeric
num_cols = ['duration', 'campaign', 'last_contact_day', 'Count_Txn','balance']

for col in num_cols:
    df_trans[col] = pd.to_numeric(df_trans[col], errors='coerce')

df_trans['balance'] = df_trans['balance'].apply(lambda x: x if x >= 0 else np.nan)

# Applying conditions to 'duration', 'campaign', 'last_contact_day', 'Count_Txn' columns

df_trans['duration'] = df_trans['duration'].apply(lambda x: abs(x) if x < 0 else x)
df_trans['campaign'] = df_trans['campaign'].apply(lambda x: abs(x) if x < 0 else x)
df_trans['last_contact_day'] = df_trans['last_contact_day'].apply(lambda x: abs(x) if x < -1 else x)
df_trans['Count_Txn'] = df_trans['Count_Txn'].apply(lambda x: abs(x) if x < 0 else x)


df_trans[num_cols].isna().sum()

duration            39
campaign             0
last_contact_day     0
Count_Txn            1
balance             86
dtype: int64

In [ ]:
## Numerical Columns of df_cust

# Converting 'age' column to numeric and filter values within range [0, 100]
df_cust['age'] = pd.to_numeric(df_cust['age'], errors='coerce')
df_cust['age'] = df_cust['age'].apply(lambda x: x if 0 <= x <= 100 else np.nan)

# Converting 'Annual Income' column to numeric and ensure values >= 0
df_cust['Annual Income'] = pd.to_numeric(df_cust['Annual Income'], errors='coerce')
df_cust['Annual Income'] = df_cust['Annual Income'].apply(lambda x: abs(x) if x < 0 else x)


(df_cust[['age', 'Annual Income']]).isna().sum()

age              40
Annual Income    18
dtype: int64

**Saving the cleaned data**    [The missing values will be dealt after analysing the first round of questions based on data]

In [ ]:
df_trans.to_csv('/content/drive/MyDrive/NeoStats_Keerthana/Transaction Data.csv')
df_cust.to_csv('/content/drive/MyDrive/NeoStats_Keerthana/Customer Data.csv')